<nav class="flex items-center justify-between flex-wrap w-full z-10 ">
    <div class="flex items-center flex-no-shrink text-white mr-6">
        <a class="text-white no-underline hover:text-white hover:no-underline" href="#">
            <img src="img/logo.png" alt="" class="h-8">
        </a>
    </div>

    <div class="block lg:hidden">
        <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-700 bg-white hover:text-gray-700">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
    </div>

    <div class="w-full p-2 bg-white rounded-lg shadow-xl mt-4 flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block lg:pt-0" id="nav-content">
        <ul class="list-reset lg:flex justify-start flex-1 items-center">
            <li class="mr-3">
                <a class="inline-block py-2 px-4 font-bold no-underline" href="#">Overview</a>
            </li>
            <li class="mr-3">
                <a class="inline-block text-grey-dark no-underline hover:text-grey-lighter hover:text-underline py-2 px-4" href="#">Live</a>
            </li>
            <li class="mr-3">
                <a class="inline-block text-grey-dark no-underline hover:text-grey-lighter hover:text-underline py-2 px-4" href="#">Reports</a>
            </li>
            <li class="mr-3">
                <a class="inline-block text-grey-dark no-underline hover:text-grey-lighter hover:text-underline py-2 px-4" href="#">link</a>
            </li>
        </ul>
        <div class="justify-end">Helo!</div>
    </div>
</nav>

<!--Container-->
<div class="container shadow-lg mx-auto bg-white mt-24 md:mt-18">

</div>

<script>
    //Javascript to toggle the menu
    document.getElementById('nav-toggle').onclick = function(){
        document.getElementById("nav-content").classList.toggle("hidden");
    }
</script>
