@tailwind base;

body {
    @apply font-body antialiased bg-gray-200 text-gray-700;
}

h1,h2,h3,h4,h5 {
    @apply font-title;
}

@tailwind components;

.flex-table {
    @apply text-left;
}

.flex-table .row {
    @apply flex justify-between;
}

.flex-table .col {
    @apply mr-2;
}

.flex-table .col:last-child {
    @apply mr-0;
}

/* Custom CSS */
.bullet {
    @apply h-3 w-3 align-baseline bg-gray-500 inline-block rounded-full mr-2 border border-gray-700;
}

.btn-group {
  @apply rounded-lg bg-gray-200 border border-gray-400;
}

.btn-group button {
  @apply px-4 py-2 border-r border-gray-400;
}

.btn-group button.active {
  @apply bg-gray-100;
}

.btn-group button.active:first-child {
  @apply rounded-tl-lg rounded-bl-lg border-t-0 border-b-0 border-gray-400;
}

.btn-group button:first-child {
  
}

.btn-group button:last-child {
  @apply border-r-0;
}

.table-wrapper {
  @apply text-left;
}

.table-wrapper table {
  @apply table-fixed w-full;
}

.table-wrapper td {
  @apply bg-white;
}

.table-wrapper th, .table-wrapper td {
  @apply px-3 py-1;
}

.table-wrapper th {
  @apply bg-blue-100 py-2;
}

.table-wrapper tbody tr:first-child {
  @apply border-t border-gray-400;
}

.table-wrapper tbody tr:first-child td {
  @apply pt-3;
}

.table-wrapper tbody tr:last-child td {
  @apply pb-4;
}

@tailwind utilities;




/* Custom CSS for 3rd Party */

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    z-index: 0;
    display: none;
  }
  
  .slideout-menu ul li {
      @apply mb-2;
  }

  .slideout-menu-left {
    left: 0;
  }
  
  .slideout-menu-right {
    right: 0;
  }
  
  .slideout-panel {
    position: fixed ;
    z-index: 10;
    bottom:1rem;
    left:1rem;
  }
  
  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
    overflow: hidden;
  }
  
  .slideout-open .slideout-menu {
    display: block;
    overflow:hidden;
  }