@tailwind base;

body {
    @apply font-body antialiased bg-gray-200 text-gray-700;
}

h1,h2,h3,h4,h5 {
    @apply font-title;
}

@tailwind components;

.flex-table {
    @apply text-left;
}

.flex-table .row {
    @apply flex flex-row justify-between;
}

.flex-table .col {
    @apply mr-2;
}

.flex-table .col:last-child {
    @apply mr-0;
}

@tailwind utilities;

/* Custom CSS for 3rd Party */

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    z-index: 0;
    display: none;
  }
  
  .slideout-menu ul li {
      @apply mb-2;
  }

  .slideout-menu-left {
    left: 0;
  }
  
  .slideout-menu-right {
    right: 0;
  }
  
  .slideout-panel {
    position: fixed ;
    z-index: 10;
    bottom:1rem;
    left:1rem;
  }
  
  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
    overflow: hidden;
  }
  
  .slideout-open .slideout-menu {
    display: block;
    overflow:hidden;
  }